.allcontent{
  width:1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.oo{
  text-align: center;
  font-size:25px;
}

.FREE{
  font-size:40px;
  text-align: center;
  font-weight: bold;
  margin:10px;
}

.When{
  font-size:18px;
  color:dimgray;
  text-align: center;
  margin: 16px;
}

.Ends{
  font-weight:bold;
  font-size:13px;
}

.See a:link{
  color:dimgray;
}

.See a:hover{
  color:dodgerblue;
}

.ESS{
  color:dimgray;
  text-align: center;
  margin:16px;
  font-size:15px;
}

.phone{
  margin:80px;
}

.bluephone{
  /* width: 300px;
  height: 200px;
  object-fit:contain; */
  width:350px;
  border-radius:1.5em;
  
}

.grayphone{
  margin:60px;
  position: relative;
  left:120px;
  bottom:370px;
  width:350px;
  border-radius:1.5em;
}

.bluegift{
    margin:80px;
  position: relative;
  left:140px;
  bottom:420px;
  width:350px;
  border-radius:1.5em;
}
.gift{
  margin:80px;
  position: relative;
  left:230px;
  bottom:340px;
}

.blue{
  border: 2px solid rgb(190, 188, 188);
  width:350px;
  border-radius: 1.5em;
  position:relative;
  left:-30px;
  bottom:35px;
}

.gray{
  border: 2px solid rgb(190, 188, 188);
  width:350px;
  border-radius: 1.5em;
  /* position:relative; */
  left:-30px;
  bottom:35px;
}

.Learn{
  color:dimgray;
  margin:13px;
}

.Google{
  font-weight: bold;
  font-size:28px;
  margin:13px;
}

.money1{
  font-weight: bold;
  font-size:26px;
  margin:0;
}

.No{
  color:dimgray;
  margin:12px;
}

.money2{
  font-size:15px;
  text-decoration:line-through;
  margin:12px;
  margin-bottom: 0px;
}

.money3{
  font-weight: bold;
  font-size:35px;

}

.Ltd{
  color:dimgray;
  margin:10px;
}

.blod{
  font-weight: bold;
}

.box1{
  border:solid 2px #3058af;
  border-radius: 2em;
  width:160px;
  height:40px;
  background-color: #1a45a0;
  color:aliceblue;
  padding-top:10px;
  text-align:center;
  position:relative;
  font-weight: bold;
  margin-top: 50px;
}