.allcontent{
  width:1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* top */
.oo{
  color:rgb(155, 151, 151);
  text-align: center;
  font-size:25px;
}

.FREE{
  font-size:40px;
  text-align: center;
  font-weight: bold;
  margin:10px;
}

.When{
  font-size:18px;
  color:rgb(155, 151, 151);
  text-align: center;
  margin: 16px;
}

.Ends{
  font-weight:bold;
  font-size:13px;
}

.See a:link{
  color:rgb(155, 151, 151);
}

.See a:hover{
  color:dodgerblue;
}

.ESS{
  color:rgb(155, 151, 151);
  text-align: center;
  margin:16px;
  font-size:15px;
}

.phone{
  margin:80px;
}

/* bluephone */
/* 手机图片 */
.bluephone{
  /* width: 300px;
  height: 200px;
  object-fit:contain; */
  width:330px;
  border-radius:1.4em;
  position: relative;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
}

/* 蓝色手机框 */
.blue{
  border: 2px solid rgb(224, 223, 223);
  width:330px;
  border-radius: 1.5em;
  position:relative;
  left:5px;
  bottom:32px;
  height:605px;
}

.Learn{
  color:rgb(155, 151, 151);
  margin:10px;
}

.Google{
  font-weight: bold;
  font-size:25px;
  margin:13px;
}

.money1{
  font-weight: bold;
  font-size:24px;
  margin:0;
}

.No{
  color:rgb(155, 151, 151);
  margin:12px;
  font-size: 14px;
}

.money2{
  font-size:14px;
  text-decoration:line-through;
  margin:15px;
  margin-bottom: -5px;
}

.money3{
  font-size:19px;
  position:absolute;
  left:12px;
}

.money4{
  font-weight: bold;
  font-size:35px;
  margin-left: 21px;
}

.Ltd{
  color:rgb(155, 151, 151);
  margin:10px;
  font-size:11px;
}

.blod{
  font-weight: bold;
  font-size:11px;
}

/* 蓝色按钮 */
.box1{
  border:solid 2px #3058af;
  border-radius: 3em;
  width:160px;
  height:40px;
  background-color: #1a45a0;
  color:aliceblue;
  padding-top:12px;
  text-align:center;
  position:relative;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
}

/* grayphone */
/* 灰色手机图片 */
.grayphone{
  margin:60px;
  position: relative;
  left:-60px;
  bottom:30px;
  width:335px;
  border-radius:1.4em;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
}

/* 灰色手机框 */
.gray{
  border: 2px solid rgb(224, 223, 223);
  width:335px;
  border-radius: 1.5em;
  position:relative; 
  left:370px;
  bottom:640px;
  height: 605px;
}

.suojin1{
  position: relative;
  top:-120px;
}

.Google8{
  font-weight: bold;
  font-size:22px;
  margin-left: 8px;
}

.box2{
  border:solid 2px #3058af;
  border-radius: 3em;
  width:160px;
  height:42px;
  background-color: #1a45a0;
  color:aliceblue;
  padding-top:12px;
  text-align:center;
  position:relative;
  font-weight: bold;
  margin-top: 78px;
  margin-bottom: 78px;
  font-size: 16px;
}

/* bluegift */
/* 蓝色礼物图片 */
.bluegift{
  margin:80px;
  position: relative;
  left:-80px;
  bottom:40.5px;
  width:335px;
  border-radius:1.4em;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
}

/* 蓝色礼物框 */
.gift{
  border: 2px solid rgb(224, 223, 223);
  width:335px;
  border-radius: 1.5em;
  position:relative; 
  left:740px;
  bottom:1250px;
  height:605px;
}

.Featured{
  color:rgb(155, 151, 151);
  margin:15px;
  font-size: 16px;
}

.There{
  font-weight: bold;
  font-size:23px;
  margin:13px;
}

.Check{
  color:rgb(155, 151, 151);
  margin:15px;
  font-size: 18px;
  margin-bottom:300px;
}

.suojin2{
  position: relative;
  top:-165px;
}

/* 倒计时 */

.Today{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom:1228px;
}

.shuzi{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom:1218px;
  word-spacing: 30px;
}

.zimu{
  color:rgb(155, 151, 151);
  font-size: 12px;
  text-align: center;
  position: relative;
  bottom:1215px;
  word-spacing: 40px;
}
