html {
  font-family: verdana,Geneva,Arial;
  font-size: 12px;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}

h1,h2 {
  color:#CC6600;
  border-bottom: thin dotted #888888;
}

blockquote {
  font-style: italic;
}

* {
  margin: 0px;
  padding: 0px;
}
